*{
    margin: 0px;
}
.menu-left {
    width: 70px;
    height: 100%;
    border-right: 1px solid rgb(150, 144, 144);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    position: fixed;
}
.top-menu-left, .bottom-menu-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    justify-content: space-between;
}
.menu-left .bottom-menu-left:last-child{
    justify-content: end;
}
.icon-menu-left{
    width: 30px;
    height: 30px;
    padding: 5px 9px;
    border-radius: 15px;
}

.icon-menu-left:hover{
    background-color: rgb(153, 164, 173);
}

.center{
    margin-left:100px ;
    margin-right: 350px;
    width: 900px;
}
.title{
    display: flex;
    justify-content: space-between;
}
.record{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(226, 43, 61);
    display: inline-block;
}

.time-meeting{
    color: rgb(226, 43, 61) ;
    border: 1px solid  rgb(226, 43, 61);
    display: inline-block;
    padding: 2px 10px 2px 10px;
    border-radius: 35px;
}

.icon-center{
    width: 14px;
    height: 14px;
    border: 2px;
    border-radius: 50px;
    vertical-align: middle;
    margin-right: 3px;
    background-color: white;
}
.internal{
    font-size: 12px;
    padding: 6px 8px;
    background-color: rgb(226, 43, 61);
    color: white;
    display: inline-block;
    border-radius: 30px;
    margin-right: 20px;
}
.text-date {
    display: inline-block;
}
.calendar{
    margin-right: 20px;
}
.date{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 20px;
}


i.text-date{
    margin-right: 20px;
}

.ps-metting{
    width: 250px;
    height: 150px;
}
img.img-metting{
    z-index: -1;
    position: absolute;
    object-fit: contain;
    width: 250px;
    height: 150px;
}
.name-mic{
    display: flex;
    justify-content: space-between;
}
.mic{
    margin:10px 10px 0px 0px;
}
.text-name{
    margin:10px 0px 0px 10px;
    padding: 4px 2px;
    background-color: rgb(0, 0, 0);
    opacity: 0.5;
    border-radius: 10px;
    color: white;
}
.ps-main{
    width: 600px;
    height: 400px;
}
img.img-main{
    width: 600px;
    height: 330px;
    object-fit: contain;
}

.meeting{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 900px;
    align-items: center;
}
.list-ps{
    display: flex;
    justify-content: space-between;
}
.online{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(8, 238, 85);
    display: inline-block;
    margin-right: 5px;
}
.control{
    padding: 20px;
    display: flex;
    justify-content: center;
}

.icon-control{
    margin:2px 5px;
}

.control .icon-control:nth-child(4){
    background-color: rgb(255, 41, 41);
    border: none;
    border-radius: 10px;
    padding: 0px 9px;
}

.chat{
    width: 300px;
    height: 100%;
    border-left: 1px solid rgb(150, 144, 144);
    background-color: white;
    position: fixed;
    right: 0px;
    top: 0px;
}